extends layout

block content
  h1= title
  p Welcome to #[em Inventory App], a basic Express website.

  hr

  p The inventory has the following record counts:

  ul
    li #[a(href="/items") #[strong Items:]] !{item_count}
    li #[a(href="/categories") #[strong Categories:]] !{category_count}
